<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="monZi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <monZi.My.MySettings>
      <setting name="RecentCheck" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RecentAirCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationPoint_X" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationPoint_Y" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationName" serializeAs="String">
        <value />
      </setting>
      <setting name="StationName" serializeAs="String">
        <value />
      </setting>
      <setting name="ChkEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PushEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PushList" serializeAs="String">
        <value>12345678</value>
      </setting>
      <setting name="PushWithsound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PushIgnore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PushTopmost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AeroEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FadeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AniEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="APIFORM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupPopIgnore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="upgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="UseNativeFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="widget_enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="widget_position" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="widget_locked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="widget_display" serializeAs="String">
        <value />
      </setting>
      <setting name="widget_opacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AirStd" serializeAs="String">
        <value>WHO</value>
      </setting>
      <setting name="FormPos" serializeAs="String">
        <value>00</value>
      </setting>
      <setting name="UseAKAPI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USERAPIKEY" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomAPI" serializeAs="String">
        <value />
      </setting>
      <setting name="widget_stick" serializeAs="String">
        <value>True</value>
      </setting>
    </monZi.My.MySettings>
  </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>